<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img class="image-full-width" [src]="images[0]" alt="Random first slide">
    <div class="carousel-caption">
      <h3>Las mejores películas</h3>
      <p>Las películas con mejor puntuación a nivel mundial.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="image-full-width" [src]="images[1]" alt="Random second slide">
    <div class="carousel-caption">
      <h3>Las mejores películas</h3>
      <p>Las películas con mejor puntuación a nivel mundial.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="image-full-width" [src]="images[2]" alt="Random third slide">
    <div class="carousel-caption">
      <h3>Las mejores películas</h3>
      <p>Las películas con mejor puntuación a nivel mundial.</p>
    </div>
  </ng-template>
</ngb-carousel>